<h1>Stupid Coaching</h1>

<div class="alert alert-warning" role="alert">
  <div class="font-italic"><%= @answer%><br>-Your Coach
  </div>
</div>



<div class="card">
  <div class="card-body border-left-0">
    This is some text within a card body.
  </div>
</div>

<div class="link-primary"><%=link_to "Ask A Question", ask_path%></div>
